@import './header.styl'
@import './hero.styl'

:root{
--softBlue: hsl(231, 69%, 60%)
--softRed: hsl(0, 94%, 66%)

--grayishBlue: hsl(229, 8%, 60%)
--veryDarkBlue: hsl(229, 31%, 21%)
}

body 
  // background: lightgrey
  font-family: 'Rubik', sans-serif
  font-size: 18px
  color var(--veryDarkBlue)
  margin: 0

.u-wrapper
  max-width 1200px
  margin auto
  padding 1em

.u-h1
  font-size 2em

.u-p
  color var(--grayishBlue)
  line-height 1.8